.App {
  background: #0A1929;
  color: white;
  padding: 20px;
  height: calc(var(--vh, 1vh) * 100 - 40px);
}
.loading-screen {
  height: 100vh;
  width: 100vw;
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0.5;
}
.spinner-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -28px;
  margin-top: -20px;
}
.title-area {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}
h1 {
  margin: 0;
}
.content-area {
  margin: auto;
  height: calc(100% - 250px);
  max-width: 664px;
}
.league_select_group {
  width: 100%;
}
.league_select_group button{
  display: flex;
  flex: 1;
}
.search-area {
  display: flex;
  justify-content: space-between;
}
.table-area {
  max-height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.table-area th, .table-area td {
  padding: 6px 6px;
}
.table-area .MuiTableCell-root .round-info {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.table-area .name-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.table-area .MuiTableCell-root .team-with-image {
  display: flex;
  align-items: center;
}
.table-area .MuiTableCell-root .team-with-image img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

@media (max-width: 768px) {
  td .player-name {
    width: 144px;
  }
  td .team-name {
    width: 108px;
  }
}
