.App {
  background: #0A1929;
  color: white;
  padding: 20px;
  height: calc(100vh - 40px);
}
.title-area {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
h1 {
  margin: 0;
}
.content-area {
  margin: 20px auto;
  height: calc(100% - 200px);
  max-width: 664px;
}
.search-area {
  display: flex;
}
.table-area {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.table-area th, .table-area td {
  padding: 6px 10px;
}
.table-area .MuiTableCell-root .team-name {
  display: flex;
  align-items: center;
}
.table-area .MuiTableCell-root .team-name img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
